.hide{
    display: none;
}

.grid{
    display: grid;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

body{
    margin: 0;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.flow-column{
    grid-auto-flow: column;
}
.align-center{
    
    align-items: center;
}
