
.color-picker-container, .editor-btn button {
    width: 60px;
    height: 60px;
    background-color: var(--clrPrimary-1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editor-btn{
      gap: 20px; 
     display: flex;
     flex-direction: column;
     margin-inline-end: 17.125em;
}

.editor-btn img {
    width: 40px;
    height: 30px;
}
/* canvas{
    display: flex;
    justify-content: center;
/* margin-inline-end: 0;
margin: auto auto;
padding-block-start: 2em; */


.input-color {
    opacity: 0;
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 1;
}

.text-meme{
    background-color: white;
    width: max-content;
    height: 30px;
    border: 2px solid var(--clrPrimary-1);
    border-radius: 10px;
}

.choose-font-btn{
    height: 40px;
    width: max-content;
    color: white;
}


