* {
    box-sizing: border-box;
}


.gallery-container{

 text-align: center;
 grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
 justify-content: center;
 gap: 20px;

}



.gallery-container img{
    border-radius: 3em;
    box-shadow: -2px 4px 6px 0px black;
    max-width:100%;
    height:auto;

}

