.gallery-container{

 text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
   gap: 10px;
 width: 100vw; 
    height: 100vh; 
    font-family:monospace
}

.gallery-container img{
    width: 100%;
}

.gallery-layout{
    width: 100vw;

}
