.main-header {
    background-color: var(--clrPrimary-1);
    height: 3.2rem;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.main-header a {
    text-decoration: none;
}

.main-heading {
    font-size: 2rem;
    color: white;
    text-align: center; 
    margin-top: 20px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    font-family: 'Roboto', sans-serif;
}
.main-header .main-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 130px;
    min-height: 50px;
    font-size: 1.1875em;
    color: var(--clrPrimary-2);
    transition: box-shadow 0.4s; 
}

.main-header .main-nav a:hover {
    box-shadow: inset 0px -3px 0 var(--clrPrimary-2);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-start: 50px;
    font-family: sans-serif;
    font-size: 1.5em;
    color: var(--clrPrimary-2);
    z-index: 2000; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}




.filter-category {
    background-color: white;
    width: max-content;
    height: 30px;
    border: 2px solid var(--clrPrimary-1);
    border-radius: 10px;
}

.filter-keyword button {
    width: max-content;
    height: 40px;
    color: white;
}


