/* MOBILE ONLY */
@media (max-width: 860px) {

    .btn-toggle-menu{
        display: block;
    }
    .main-header {
        padding: 20px 0;
        min-height: 70px;
    }

    .main-header .main-nav {
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        transition: grid-template-rows 1s;
        align-items: end;
    }

    .main-header .main-nav ul {
        min-height: 0;
        grid-auto-flow: row;
        background-color: var(--clrPrimary2);
    }

    .gallery-container{

        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
                justify-content: center;
        gap: 1.2em;
       
       }

    .main-header .main-nav li {
        border-bottom: 1px solid #ccc;
    }

    body.menu-open .main-nav {
        grid-template-rows: 1fr;
    }

    .meme-editor-layout {
       flex-direction: column;
       flex-wrap: wrap;
        /* max-height: 100vh; */
        align-items: center;

    }


    .editor{
        margin-inline-end: -262px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        align-items: center;

    }
    .editor-btn{
        gap: 0.5em;
        margin-inline-end: 17.125em ;
    }
  

    .gallery-container{

        text-align: center;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-content: center;
        gap: 20px;
       
       }

       canvas{
        max-width: 100%;
    }
    


}
